* {
  color: white;
}

p,
li {
  font-size: 20px;
}
body {
  background-color: black;
  text-align: center;
}

.sidebar {
  width: 230px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 20px;
  background: black;
}

.sidebar a {
  text-decoration: none;
  margin-bottom: 12px;
  font-size: 25px;
  color: white;
  display: block;
  border-style: solid;
  border-width: 5px;
  border-image: linear-gradient(45deg, #0476f2, white) 1;
}

.sidebar a:hover {
  color: lightgray;
}

@media (max-width: 1250px) and (min-width: 860px) {
  .sidebar {
    width: 20%;
  }
  .sidebar a {
    font-size: 16px;
  }
  h1 {
    inline-size: 350px;
    margin-left: 25%;
  }
}
@media (max-width: 859px) {
  .sidebar {
    width: 15%;
  }
  .sidebar a {
    font-size: 12px;
  }
  h1 {
    inline-size: 300px;
    margin-left: 25%;
    font-size: 25px;
    margin-bottom: 55px;
  }
}
