@media (max-width: 541px) {
  h1 {
    font-size: 20px;
  }
  /*  .navbar {
    width: 100%;
  }
  .dropdown {
    font-size: 100%;
  }
  .dropdown-content {
    padding: 10px;
  }
  .dropdown-content a {
    font-size: 100%;
    padding: 1px;
  } */
}

@media (hover: none) {
  .dropdown {
    overflow: auto;
  }
  .dropdown-content {
    opacity: 1;
    background-color: rgb(0, 0, 0, 0.4);
  }
  .dropdown-content a {
    border-style: solid;
    border-width: 1px;
  }
}
